body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
	text-align: center;
    margin: 0;
    padding: 0;
	overflow: hidden;
}



h2 {
    font-size: 1em;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 5px;
}

img {
    max-width: 80px;
    max-height: 120px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #ecf0f1;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

.button:hover {
    background-color: #2980b9;
}

.blackjack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #ecf0f1;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

form button:hover {
    background-color: #2980b9;
}

.hand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

.hands {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 0px;
}

.hand {
    display: flex;
    flex-direction: column;
 	align-items: center;
    list-style: none;
    padding: 0;
    margin: 0px;

}

.card {
    margin: 5px;
}

.button-container {
    display: flex;
   justify-content: center;
    margin: 10px 0;
}

.button-container form {
    margin: 0 10px;
   display: inline-block;
}

.hand-container.has-hand2 .hands {
    justify-content: space-around;
}

.hand-container.single-hand .hands {
    justify-content: center;
}

.container {
    text-align: center;
    background-color: #2c3e50;
    padding: 200px;
    border-radius: 10px;

}
